.work-detail-container {
  width: 100%;
  background-color: $light;
  position: relative;
  * {
    letter-spacing: -0.03em;
    line-height: 100%;
  }
  .header-bgi {
    width: 100%;
    height: 61vh;
    position: relative;
    .bgi {
      height: 100%;
      overflow: hidden;
      img {
        object-position: 50% 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .title {
      @include maxWidth;
      padding: 125px 140px 80px;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      color: $light;
      h1 {
        font-size: 90px;
        //    background-color: red;
        font-family: "Graphik LCG Medium";
        letter-spacing: -0.06em;
      }
      p {
        font-size: 16px;
        margin-top: 1.9%;
      }
      a {
        text-decoration: none;
        transition: 0.3s;
        min-height: 30px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
      }
      .website {
        position: absolute;
        bottom: 80px;
        height: 30px;
      }
    }
  }
  .max-width {
    @include maxWidth;
    padding: 64px 140px 320px;
    .bold-txt {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 152px;
      .logos {
        width: 32%;
        h4 {
          padding-bottom: 20px;
          border-bottom: 1px solid $bc;
        }
        div {
          padding-top: 40px;
          display: flex;
          position: relative;
          ul {
            width: 58px;
            height: 58px;
            border-radius: 50%;
            border: 1px solid $bc;
            transition: 0.2s;
            img {
              box-sizing: border-box;
              padding: 20%;
              width: 100%;
              height: 100%;
            }
            span {
              position: absolute;
              top: 140%;
              left: 0;
              opacity: 0;
              transition: 0.2s;
              p {
                font-size: 14px;
              }
              p:nth-child(2) {
                margin-top: 1%;
                opacity: 0.5;
              }
            }
          }
          ul:hover {
            border-color: #000;
          }
          ul:hover span {
            opacity: 1;
          }
        }
      }
      h3 {
        width: 50%;
        box-sizing: border-box;
        padding-left: 20px;
        font-size: 37px;
        letter-spacing: -0.033em;
        line-height: 109%;
        font-family: "Graphik LCG Medium";
      }
    }
    .section {
      .txt1 {
        border-top: 1px solid $bc;
        justify-content: space-between;
        flex-wrap: wrap;
        p {
          width: 50%;
        }
      }
      .title {
        width: 50%;
        flex-direction: column;
        margin-left: 50%;
        h2 {
          box-sizing: border-box;
          padding-left: 20px;
          padding-bottom: 4%;
          display: flex;
          justify-content: flex-start;
        }
        p {
          width: 100%;
        }
      }
      .txt {
        padding: 150px 0 100px;
        display: flex;
        h2 {
          font-size: 21.5px;
          font-family: "Graphik LCG Medium";
        }
        p {
          font-size: 21.5px;
          line-height: 117%;
          box-sizing: border-box;
          padding-left: 20px;
        }
      }
      .imgs2Bite {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        img:nth-child(5) {
          width: 50%;
          padding-left: 20px;
          box-sizing: border-box;
        }
      }
      .imgs3 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        img:nth-child(2) {
          width: 50%;
          padding-left: 20px;
          box-sizing: border-box;
        }
      }
      img {
        padding-top: 50px;
        width: 100%;
      }
      iframe {
        margin: -90px 0;
        height: 100vh;
        width: 100%;
      }
    }
  }
}
