.brand-communication {
  width: 100%;
  background-color: $light;
  @include headline;
}
.accordion-expertise {
  margin-top: 240px;
  @include maxWidth();
  padding: 0 140px 280px;
  .container-accordion {
    border-top: 1px solid $bc;
    display: flex;
    justify-content: space-between;
    h3 {
      padding-top: 80px;
      letter-spacing: -0.03em;
      font-size: 16px;
      line-height: 10%;
    }
    .names {
      width: 50%;
      box-sizing: border-box;
      padding: 24px 0 0 20px;
      // padding-left: 20px;
      .container {
        display: flex;
        justify-content: space-between;
        padding: 32px 0 36px;
        border-top: 1px solid $bc;
        h4 {
          font-size: 37px;
          font-family: "Graphik LCG Medium";
          letter-spacing: -0.03em;
          line-height: 80%;
        }
        div {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #eaebeb;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
.accordion-expertise-two {
  background-color: $oc;
  width: 100%;
  color: $light;
  .container-accordion {
    padding: 0 140px 280px;
    @include maxWidth();
    display: flex;
    justify-content: space-between;
    h3 {
      padding-top: 80px;
      letter-spacing: -0.03em;
      font-size: 16px;
      line-height: 10%;
    }
    .names {
      width: 50%;
      box-sizing: border-box;
      padding: 24px 0 0 20px;
      // padding-left: 20px;
      .container {
        display: flex;
        justify-content: space-between;
        padding: 32px 0 36px;
        border-top: 1px solid $ourB;
        h4 {
          font-size: 37px;
          font-family: "Graphik LCG Medium";
          letter-spacing: -0.03em;
          line-height: 80%;
        }
        div {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: $iconBack;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 70%;
          }
        }
      }
    }
  }
}
.case-studies-section {
  width: 100%;
  border-top: 1px solid $bc;
  background-color: $light;
  overflow: hidden;
  .container {
    @include maxWidth;
    .headline {
      @include maxWidth;
      padding: 60px 140px 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-size: 91px;
        letter-spacing: -0.07em;
        font-family: "Graphik LCG Medium";
        line-height: 75%;
      }
      .case-studies-buttons {
        display: flex;
        .text-buttom {
          margin-right: 20px;
        }
      }
    }
    .cards {
      display: flex;
      gap: 40px;
      padding: 240px 0 320px 140px;
    }
    .work-page-card-container {
      width: 680px;
      min-width: 680px;
    }
  }
}
