.career-page {
     width: 100%;
     @include headline;
     .discription-section {
       width: 100%;
       .content-discription {
           @include maxWidth;
           padding : 72px 140px 360px;
           div{
               display: flex;
               justify-content: space-between;
               h5 { 
                   font-size: 16px;
                   letter-spacing: -.03em;
                   p:nth-child(2) {
                       color: $light;
                   }
               }
               span {
                   box-sizing: border-box;
                   font-size: 22px;
                   padding: 0 20px;
                   width: 50%;
                   letter-spacing: -.05em;
               }
           }
       }
     }
     .vacancies-section {
       width: 100%;
       background-color: $light;
       .content-vacancies {
           @include maxWidth;
           .work-vacancies {
               padding: 0 140px 320px;
               display: flex;
               justify-content: space-between;
               h5 { 
                   font-size: 16px;
                   padding: 80px 0 12px ;
                   p:nth-child(2) {
                       color: $bsSmi;
                   }
               }
               span {
                   padding-top: 63px;
                   font-size: 38.2px;
                   font-family: "Graphik LCG Medium";
                   letter-spacing: -.05em;
                   width: 48.5%;
                   display: flex;
                   justify-content: space-between;
                   div {
                       margin-top: 1%;
                       background-color: $lm;
                       border-radius: 50%;
                       width: 30px;
                       height: 30px;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       transform: rotate(90deg);
                       img {
                           width: 60%;
                       }
                   }
               }
           }
           @include JumpHome;
       }
     }
   }