.company-page {
     width: 100%;
     @include headline;
     .status-number-section{
          @include maxWidth; 
          padding: 0 140px; 
          display: flex;
          justify-content: flex-end;
          .content-status-number{
               padding: 120px 0 0 20px;
               box-sizing: border-box;
               width: 50%;
               .special-number{
                    width: 100%;
                    padding: 0 0 5px 0;
                    font-size: 180px;
                    color: $light;
                    border-bottom: 1px solid $bc;
                    span{
                         font-family: "Graphik LCG Medium";
                         letter-spacing: -0.07em;
                    }
               }
               h3{
                    letter-spacing: -0.03em;
                    font-size: 16px;
                    padding: 42px 0;
               }
               .years-members{
                    width: 100%;
                    display: flex;
                    padding: 70px 0 200px ;
                    gap: 40px;
                    div {
                         width: 47%;
                         h1{
                              color: $oc;
                              padding: 35px 0 ;
                              border-bottom: 1px solid $bc;
                              font-size: 90px;
                              font-family: "Graphik LCG Medium";
                              letter-spacing: -0.06em;
                         }
                         p{
                              padding: 40px 0;
                              letter-spacing: -0.03em;
                         }
                    }
               }
          }
     }
     .director-people-section{
          // @include maxWidth;

          padding-left: 22.6%;
          width: 100%;
          // padding-top: 80px;
          display: grid;
          grid-auto-flow: column;
          // overflow: hidden;
          box-sizing: border-box;
          gap: 40px;
          overflow-x: scroll;
          div:nth-child(1) {  
               max-width: 640px;
               width: 100%;
               img {
                    width: 640px;
                    padding-bottom: 20px;
               }
          }
          p{
               font-size: 15.5px;
               line-height: 110%;
          }
          p:nth-child(2) {
               color: $bsSmi;
               padding-bottom: 320px;
          }
     }
     .our-clients-section{
          width: 100%;
          background-color: $light;
          padding-bottom: 320px;
          .content-client-tile{
               @include maxWidth;
               padding: 240px 140px ;
               width: 70%;
               display: grid;
               grid-template-columns: 1fr 1fr 1fr 1fr;
               .company-page-client-image{
                    width: 350px;
                    border: 1px solid $bc;
                    height: 350px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
               }
          }
     }
     .recognition-section {
          width: 100%;
          background-color: $oc;
          .content-recognition {
               padding: 8px 0;
          }
          .award-lists {
               @include maxWidth;
               padding: 0 140px;
               width: 100%;   
               display: flex;
               align-items: flex-end;
               flex-direction: column;
               .list-container {
                    width: 50%;
                    box-sizing: border-box;
                    padding-left: 20px;
                    .refresh-icon {
                         margin-bottom: 50px ;
                         width: 30px;
                         height: 30px;
                         border-radius: 50%;
                         background-color: #424446;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                    }
               }
               h1 {
                    border-top: 2px solid $light;
                    line-height: 100%;
                    padding: 50px 0;
                    font-size: 90px;
                    font-family: "Graphik LCG Medium";
                    letter-spacing: -.06em;
                    color: #ffffff66;
                    span{
                         font-family: "Graphik LCG Medium";
                         letter-spacing: -.06em;
                         color : $light;
                    }
               }
          }
          .btns {
               @include maxWidth;
               padding: 180px 140px  0;
               display: flex;
               gap: 8px;
               button {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #424446;
                    border: none;
                    border-radius: 50%;
                    img {
                         width: 60%;
                    }
               }
          }
     }
}

.recognition-cards{
     padding: 80px 0 120px 22.6%;
     overflow-x: auto;
}

.arrow-buttons {
     border: none;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: $lm;
     display: flex;
     align-items: center;
     justify-content: center;
     img{
          width: 70%;
     }
}
.arrow-buttonsTwo {
     background-color: #424446;
     border: none;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     img{
          width: 70%;
     }
}
.compnay-page-row-pad-reviews{
     @include maxWidth;  
     padding: 0 140px;
     display: flex;
     justify-content: space-between;
     .container{
          display: flex;
          div{
               width: 30px;
               height: 30px;
               border-radius: 50%;
               background-color: $oc;
               margin-right: 10px;
               display: flex;
               align-items: center;
               justify-content: center;
               img{ 
                    width: 70%;
               }
          }
     }
     .review-text{
          width: 50%;
          margin-right: -20px;
          font-size: 20.5px;
          .avatar{
               display: flex;
               padding-top: 70px;
               img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
               }
               div {
                    margin-left: 40px;
                    font-size: 16px;
                    h4:nth-child(2){
                         color: $bsSmi;
                    }
               }
          }
     }
}