@import "../component/responsive-breakpoints/breakpoints.scss";
@import "./_colors-mixins";
@import "./home-page";
@import "./work-page";
@import "./blog-page";
@import "./career-page";
@import "./contact-page";


* { 
    margin: 0;
    padding: 0;
    font-family: "Graphik LCG Regular",Arial,sans-serif;
    font-weight: 100;
}
::-webkit-scrollbar{
    display: none;
}
body {
    background-color: $main;
}


.navigation{
    position: fixed ;
    z-index: 10;
    width: 100%;    
    border-bottom: 1px solid $bc;
    padding: 14.5px 0;
    .header-content { 
        @include maxWidth;
        height: 30px;
        padding: 0 140px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
        }
        animation: header-animation-row 1s ease ;
        @include media ('<=phone&tablet') {
            padding:10px 30px;
            font-size: 16px;
        }
        @include media ( '>phone&tablet' , '<=tablet'){
            width: 100%;
            box-sizing: border-box;
            font-size: 10px;
            padding: 8.5px 30px;
        }
        .logo { 
            @include logo;
            @include media ('<=phone&tablet') {
                padding: 0;
            }
            @include media ( '>phone&tablet' , '<=tablet') {
                padding-left: 18px;
            }
        }
        .link-btn { 
            width: 17%;
            font-weight: 100;
            display: flex;
            align-items: center;
            @include media ('<=phone&tablet') {
                display: none;
            }
            @include media ( '>phone&tablet' , '<=tablet') {
                margin-left: -12%;
            }
            .hover-icon{
                box-sizing: border-box;
                margin-left: 8px;
                border-radius: 50%;
                background-color: $iconBackColor;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 70%;
                    height : 70%;
                    transform: rotate(90deg);
                }
                :hover{
                    transition: 0.5s;
                    transform: rotate(0deg);
                }
            }
            .hover-above-text{
                overflow: hidden;
                position: relative;
                display: inline-block;
            }::after{
                content: attr(data-text);
                position: absolute;
                width: 100%;
                top:0;
                left: 0;
                transform: translate3d( 0 , 150% ,0 );
                transition: transform .25s cubic-bezier(0.76, 0, 0.24, 1);
            }
            :hover::after{
                transform: translate3d( 0 , 0 ,0);
            }
            .hover-above-text span {
                display: inline-block;
                transition: transform .25s cubic-bezier(0.76, 0, 0.24, 1);
            }
            :hover span {
                transform: translate3d(0, -150%, 0);
            }

        }
        :hover{
            cursor: pointer;
            transition-property: transform;
            transition-timing-function: cubic-bezier(.25,.74,.22,.99);
            animation: hover-above-text 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
        .list{
            width: 44.5%;
            display: flex;
            @include media ('<=phone') {
                display: none;
            }
            @include media ('<=phone&tablet') {
                display: none;
            }
            @include media ('<=tablet') {
                margin: 0 10px;
                width: 50%;
            }
            ul {
                width: 100%;
                display: flex;
                justify-content:flex-end;
                list-style: none;
                gap: 5%;
                li{ 
                    @include media ('<=tablet') {
                        margin:  0 9.5px;
                    }
                    // padding: 2.4%;
                    a{
                        text-decoration: none;
                        color: black;
                        overflow: hidden ; 
                        position: relative;
                        display: inline-flex;
                    }::after{
                        content: attr(data-text);
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: .5;
                        transform: translate3d( 0 , 150%, 0);
                        transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                    }
                    :hover::after{
                        transform: translate3d(0, 0, 0);
                    }
                    a span {
                        display : inline-block;
                        transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                        letter-spacing: -0.01em;
                    }
                    a:hover span { 
                        transform: translate3d(0, -150%, 0);
                    }
                }
            }
        }
        .menu {
            display: none;
            align-items: center;
            @include media ('<=phone&tablet') {
                display: flex;
            }
        }
    }   
    @keyframes header-animation-row {
        0%{ 
            transform: translate3d(0, -100%, 0);
        }
        100%{ 
            transform: translate3d(0, 0, 0);
        }
    }
}
.footer{
    border-top: 1px solid $bc;
    margin-top: -1px;
    width: 100%;
    height: 310px;
    background-color: $light;
    padding: 24px 0 25px;
    .container-footer{
        margin-left: auto;
        margin-right: auto;
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 1680px;
        padding: 0 140px;
        box-sizing: border-box;
        .footer-items{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .top-row{
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: space-between;
                .logo{
                    @include logo
                }
                .links{
                    width: 240px;
                    display: flex;
                    flex-direction: column;
                    letter-spacing: -.03em;
                    a{
                        text-decoration: none;
                        color: #000;
                        margin: .5px 0;
                    }
                }
                .btn-content{
                    display: flex;
                    width: 44.5%;
                    justify-content: flex-end;
                    letter-spacing: -.03em;
                    span{
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        background-color: $lm;
                        height: 30px;
                        padding:  0 16px;
                    }
                    span:nth-child(2) {
                        color: $light;
                        background-color: #000 ;
                        margin-left: 5px;
                    }
                }
                div{
                    width: auto;
                }
            }
            .bottom-row{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                color: $bsSmi;
                font-size: 14px;
            }
        }
    }
}