.work-page {
     background-color: $light;
     .work-cards-section{
          @include maxWidth;
          padding: 80px 140px 320px;
          display: grid; 
          grid-template-columns: 1fr 1fr ;
          column-gap: 40px;
          row-gap: 70px;
     }
}
.work-page-card-container {
     width: 100%;
     .card-image{
          width: 100%;
          position: relative;
          img {
               width: 100%;
          }
          .plus {
               position: absolute;
               bottom: 0;
               right: 0;
               margin: 6%;
               height: 30px;
               width: 30px;
               background-color: #d1cfce;
               border-radius: 50%;
               display: flex;
               align-items: center;
               justify-content: center;
               img{
                    width: 12px;
                    height: 12px;
               }
          }
     }
     h2{
          padding-top: 1%;
          font-size: 16px;
          letter-spacing: -0.03em;
          p{
               line-height: 140%;
          }
          p:nth-child(2){
               color: $bsSmi;
          }
     }
}