/**
*
* Testing
*
**/
@font-face {
  font-family: "Graphik LCG Regular";
  src: url("//db.onlinewebfonts.com/t/ca3d10781128664daddf89bf2e2d1305.eot");
  src: url("//db.onlinewebfonts.com/t/ca3d10781128664daddf89bf2e2d1305.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ca3d10781128664daddf89bf2e2d1305.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ca3d10781128664daddf89bf2e2d1305.woff") format("woff"), url("//db.onlinewebfonts.com/t/ca3d10781128664daddf89bf2e2d1305.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ca3d10781128664daddf89bf2e2d1305.svg#Graphik LCG Regular") format("svg");
}
@font-face {
  font-family: "Graphik LCG Medium";
  src: url("//db.onlinewebfonts.com/t/7aca009229e7731f7f0c3c2ea048bde8.eot");
  src: url("//db.onlinewebfonts.com/t/7aca009229e7731f7f0c3c2ea048bde8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7aca009229e7731f7f0c3c2ea048bde8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7aca009229e7731f7f0c3c2ea048bde8.woff") format("woff"), url("//db.onlinewebfonts.com/t/7aca009229e7731f7f0c3c2ea048bde8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7aca009229e7731f7f0c3c2ea048bde8.svg#Graphik LCG Medium") format("svg");
}
.btn-home-page-jump {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 140px 80px;
  color: rgba(25, 27, 29, 0.5019607843);
  font-size: 14px;
}
.btn-home-page-jump a {
  text-decoration: none;
  color: rgba(25, 27, 29, 0.5019607843);
  background-color: #fff;
  border: none;
}

.headline-choose_btn-section {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 140px;
}
.headline-choose_btn-section div:nth-child(1) {
  padding: 128px 0 80px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-between;
  height: 640px;
}
.headline-choose_btn-section div:nth-child(1) .headline {
  box-sizing: border-box;
  font-family: "Graphik LCG Medium";
  letter-spacing: -0.06em;
  font-size: 89px;
  line-height: 83%;
}
.headline-choose_btn-section div:nth-child(1) .choose_btn {
  display: flex;
}
.headline-choose_btn-section div:nth-child(1) .choose_btn button {
  margin-right: 0.5%;
  border: none;
  padding: 0 16px;
  height: 30px;
  font-size: 16px;
  border-radius: 20px;
  letter-spacing: -0.005em;
}

.home-page .top-pointer-events-section {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.home-page .top-pointer-events-section .background {
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  background-color: #cdcecf;
}
.home-page .top-pointer-events-section .intro {
  position: absolute;
  background-color: #cdcecf;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  display: flex;
  padding: 105px 140px 60px;
  height: 73.5vh;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 5;
  transition: all 0.19s;
}
@media (max-width: 567px) {
  .home-page .top-pointer-events-section .intro {
    padding: 84px 30px 40px;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .top-pointer-events-section .intro {
    padding: 6.5% 6% 30px;
  }
}
.home-page .top-pointer-events-section .intro .headline-word {
  font-size: 60px;
  letter-spacing: -0.09em;
  line-height: 100px;
  margin: -2% 0 0 0;
}
@media (max-width: 567px) {
  .home-page .top-pointer-events-section .intro .headline-word {
    font-size: 25px;
    margin-top: -2%;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .top-pointer-events-section .intro .headline-word {
    font-size: 38px;
    margin-top: -2%;
  }
}
.home-page .top-pointer-events-section .intro .headline-word div {
  overflow: hidden;
}
.home-page .top-pointer-events-section .intro .headline-word div:nth-child(2) {
  color: white;
  font-family: "Graphik LCG Medium";
  margin-top: -1%;
}
.home-page .top-pointer-events-section .intro .headline-word h1 {
  font-family: "Graphik LCG Medium";
  transition: all 0.7s ease-in-out;
}
@media (max-width: 567px) {
  .home-page .top-pointer-events-section .intro .headline-word h1 {
    line-height: 110%;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .top-pointer-events-section .intro .headline-word h1 {
    line-height: 110%;
  }
}
.home-page .top-pointer-events-section .intro .headline-word h1 span {
  font-family: "Graphik LCG Medium";
}
.home-page .top-pointer-events-section .intro .bottom-row {
  display: flex;
  justify-content: space-between;
  height: 126px;
  width: 100%;
  position: relative;
}
.home-page .top-pointer-events-section .intro .bottom-row .cricles {
  position: relative;
}
.home-page .top-pointer-events-section .intro .bottom-row .cricles div {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #97989a;
}
@media (max-width: 567px) {
  .home-page .top-pointer-events-section .intro .bottom-row .cricles div {
    width: 59px;
    height: 59px;
    bottom: 0;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .top-pointer-events-section .intro .bottom-row .cricles div {
    width: 72px;
    height: 72px;
    left: 0;
    bottom: 1%;
  }
}
.home-page .top-pointer-events-section .intro .bottom-row .cricles div:nth-child(1) {
  left: 2px;
}
@media (max-width: 567px) {
  .home-page .top-pointer-events-section .intro .bottom-row .cricles div:nth-child(1) {
    left: 0;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .top-pointer-events-section .intro .bottom-row .cricles div:nth-child(1) {
    left: 0;
  }
}
.home-page .top-pointer-events-section .intro .bottom-row .cricles div:nth-child(2) {
  left: 42px;
  z-index: 1;
  border: 1px solid #fff;
}
@media (max-width: 567px) {
  .home-page .top-pointer-events-section .intro .bottom-row .cricles div:nth-child(2) {
    left: 20px;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .top-pointer-events-section .intro .bottom-row .cricles div:nth-child(2) {
    left: 25px;
  }
}
.home-page .top-pointer-events-section .intro .bottom-row .cricles div:nth-child(3) {
  left: 80px;
}
@media (max-width: 567px) {
  .home-page .top-pointer-events-section .intro .bottom-row .cricles div:nth-child(3) {
    left: 40px;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .top-pointer-events-section .intro .bottom-row .cricles div:nth-child(3) {
    left: 47px;
  }
}
.home-page .top-pointer-events-section .intro .bottom-row .leading-text {
  width: 400px;
  box-sizing: border-box;
  font-size: 22px;
  display: flex;
  align-items: flex-end;
  margin: 0 -20px -5px 0;
  transition: all 1s ease;
}
@media (max-width: 567px) {
  .home-page .top-pointer-events-section .intro .bottom-row .leading-text {
    font-size: 19px;
    padding: 0 20px 101px 0;
    line-height: 50%;
    color: #3e4042;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .top-pointer-events-section .intro .bottom-row .leading-text {
    font-size: 14px;
    width: 35%;
    margin: 0 -1%;
  }
}
.home-page .top-pointer-events-section .intro .bottom-row .leading-text span {
  padding: 20px 0 0 20px;
}
@media (max-width: 567px) {
  .home-page .top-pointer-events-section .intro .bottom-row .leading-text span {
    padding: 0;
  }
}
.home-page .top-pointer-events-section .intro .bottom-row .leading-text-animation-support {
  width: 400px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 3s ease;
}
@media (max-width: 567px) {
  .home-page .top-pointer-events-section .intro .bottom-row .leading-text-animation-support {
    display: none;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .top-pointer-events-section .intro .bottom-row .leading-text-animation-support {
    font-size: 14px;
    width: 35%;
    margin: 0 -1%;
  }
}
.home-page .video-section {
  width: 100%;
  height: 100vh;
  position: relative;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
  overflow: hidden;
  transform: translateY(-50%);
  z-index: -1;
  cursor: url("./images//icon-upward.svg");
}
.home-page .video-section .video-position {
  width: 100%;
  height: 100%;
}
@media (max-width: 567px) {
  .home-page .video-section .video-position {
    transform: translateX(-35%);
    width: 500%;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .video-section .video-position {
    transform: translateX(-39%);
    width: 500%;
  }
}
.home-page .expertise-section {
  width: 100%;
  border-top: 1px solid rgba(25, 27, 29, 0.1019607843);
  background-color: #fff;
  transform: translateY(-50%);
}
.home-page .expertise-section .container-expertise {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding: 0 140px 120px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 567px) {
  .home-page .expertise-section .container-expertise {
    padding: 0 30px 80px;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .expertise-section .container-expertise {
    padding: 0 5.9% 5.5%;
  }
}
.home-page .expertise-section .container-expertise .top-row {
  width: 100%;
  padding: 60px 0 30px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 567px) {
  .home-page .expertise-section .container-expertise .top-row {
    display: block;
    padding: 50px 0 80px;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .expertise-section .container-expertise .top-row {
    padding: 4% 0 2.2% 0;
  }
}
.home-page .expertise-section .container-expertise .top-row .learn-more .items {
  display: flex;
}
.home-page .expertise-section .container-expertise .top-row .learn-more .items div {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 21px;
}
@media (max-width: 567px) {
  .home-page .expertise-section .container-expertise .top-row .learn-more .items div {
    margin: 0 0 25px 0;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .expertise-section .container-expertise .top-row .learn-more .items div {
    width: 18px;
    height: 18px;
    font-size: 10px;
    margin-right: 15px;
  }
}
.home-page .expertise-section .container-expertise .top-row .learn-more .items span {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0 16px;
  background-color: #e8e8e8;
  border-radius: 20px;
}
@media (max-width: 567px) {
  .home-page .expertise-section .container-expertise .top-row .learn-more .items span {
    display: none;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .expertise-section .container-expertise .top-row .learn-more .items span {
    height: 18px;
    font-size: 10px;
  }
}
.home-page .expertise-section .container-expertise .top-row .headline {
  width: 560px;
  height: 100%;
}
@media (max-width: 567px) {
  .home-page .expertise-section .container-expertise .top-row .headline {
    width: auto;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .expertise-section .container-expertise .top-row .headline {
    width: 46.3%;
    margin-right: 1%;
  }
}
.home-page .expertise-section .container-expertise .top-row .headline h2 {
  font-family: "Graphik LCG Medium";
  letter-spacing: -0.05em;
  font-size: 38px;
  padding-bottom: 35px;
}
@media (max-width: 567px) {
  .home-page .expertise-section .container-expertise .top-row .headline h2 {
    font-size: 24px;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .expertise-section .container-expertise .top-row .headline h2 {
    font-size: 24px;
    padding-bottom: 6%;
  }
}
.home-page .expertise-section .container-expertise .top-row .headline p {
  letter-spacing: -0.01em;
  font-size: 22px;
  margin-right: 10%;
}
@media (max-width: 567px) {
  .home-page .expertise-section .container-expertise .top-row .headline p {
    margin-right: 0;
    font-size: 19px;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .expertise-section .container-expertise .top-row .headline p {
    font-size: 14px;
  }
}
.home-page .expertise-section .container-expertise .bottom-works {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: 16px;
}
@media (max-width: 567px) {
  .home-page .expertise-section .container-expertise .bottom-works {
    display: block;
    font-size: 15.8px;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .expertise-section .container-expertise .bottom-works {
    font-size: 13px;
  }
}
@media (max-width: 567px) {
  .home-page .expertise-section .container-expertise .bottom-works .art {
    margin-bottom: 34px;
  }
}
.home-page .expertise-section .container-expertise .bottom-works .art div {
  width: 100%;
}
.home-page .expertise-section .container-expertise .bottom-works .space {
  padding: 10px 0 0.5%;
}
.home-page .expertise-section .container-expertise .bottom-works .type-art {
  color: rgba(25, 27, 29, 0.5019607843);
}
.home-page .our-apabilities-section {
  transform: translateY(-50%);
  width: 100%;
  background-color: #191b1d;
}
.home-page .our-apabilities-section .apabilities {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding: 138px 140px 240px;
}
@media (max-width: 567px) {
  .home-page .our-apabilities-section .apabilities {
    padding: 170px 30px 140px;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .our-apabilities-section .apabilities {
    padding: 13% 5.9% 18.5%;
  }
}
.home-page .our-apabilities-section .apabilities .content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.home-page .our-apabilities-section .apabilities .content .headline h5 {
  color: #fff;
  width: 60px;
  font-size: 16px;
  font-weight: 100;
  padding-top: 36px;
}
@media (max-width: 567px) {
  .home-page .our-apabilities-section .apabilities .content .headline h5 {
    width: auto;
    position: absolute;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .our-apabilities-section .apabilities .content .headline h5 {
    font-size: 12px;
  }
}
.home-page .our-apabilities-section .apabilities .content .accordion {
  display: flex;
  flex-direction: column;
  width: 47%;
}
@media (max-width: 567px) {
  .home-page .our-apabilities-section .apabilities .content .accordion {
    width: 100%;
    padding-top: 25%;
    padding-bottom: 20%;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .our-apabilities-section .apabilities .content .accordion {
    width: 49%;
    padding-bottom: 17%;
  }
}
.home-page .our-apabilities-section .apabilities .content .accordion div:nth-child(1) {
  border: none;
}
@media (max-width: 567px) {
  .home-page .our-apabilities-section .apabilities .content .accordion div:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.1490196078);
  }
}
.home-page .our-apabilities-section .apabilities .content .accordion div {
  width: 100%;
  height: 99px;
  color: #fff;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.1490196078);
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 567px) {
  .home-page .our-apabilities-section .apabilities .content .accordion div {
    height: 80px;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .our-apabilities-section .apabilities .content .accordion div {
    height: 48px;
  }
}
.home-page .our-apabilities-section .apabilities .content .accordion div h3 {
  font-size: 34px;
  font-family: "Graphik LCG Medium";
  letter-spacing: -0.07em;
}
@media (max-width: 567px) {
  .home-page .our-apabilities-section .apabilities .content .accordion div h3 {
    font-size: 24px;
    letter-spacing: -0.01em;
    font-weight: 300;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .our-apabilities-section .apabilities .content .accordion div h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.01em;
  }
}
.home-page .our-apabilities-section .apabilities .content .accordion div span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #3b3d3f;
}
@media (max-width: 567px) {
  .home-page .our-apabilities-section .apabilities .content .accordion div span {
    width: 20px;
    height: 20px;
  }
  .home-page .our-apabilities-section .apabilities .content .accordion div span img {
    width: 14px;
    height: 14px;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .our-apabilities-section .apabilities .content .accordion div span {
    width: 18px;
    height: 18px;
  }
  .home-page .our-apabilities-section .apabilities .content .accordion div span img {
    width: 14px;
    height: 14px;
  }
}
.home-page .our-apabilities-section .apabilities .content .big-cricles {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
.home-page .our-apabilities-section .apabilities .content .big-cricles div {
  margin: auto;
  top: 0;
  bottom: 5%;
  position: absolute;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  border: 1px solid #45494a;
}
@media (max-width: 567px) {
  .home-page .our-apabilities-section .apabilities .content .big-cricles div {
    display: none;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .our-apabilities-section .apabilities .content .big-cricles div {
    width: 160px;
    height: 160px;
    top: 20%;
  }
}
.home-page .our-apabilities-section .apabilities .content .big-cricles div:nth-child(2) {
  left: 40px;
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .our-apabilities-section .apabilities .content .big-cricles div:nth-child(2) {
    left: 25px;
  }
}
.home-page .our-apabilities-section .apabilities .content .big-cricles div:nth-child(3) {
  left: 80px;
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .our-apabilities-section .apabilities .content .big-cricles div:nth-child(3) {
    left: 50px;
  }
}
.home-page .our-apabilities-section .apabilities .content .big-cricles div:nth-child(4) {
  left: 120px;
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .our-apabilities-section .apabilities .content .big-cricles div:nth-child(4) {
    left: 75px;
  }
}
.home-page .our-apabilities-section .apabilities .content .big-cricles div:nth-child(5) {
  left: 160px;
}
@media (min-width: 568px) and (max-width: 830px) {
  .home-page .our-apabilities-section .apabilities .content .big-cricles div:nth-child(5) {
    left: 100px;
  }
}
.home-page .company-section {
  width: 100%;
  overflow: hidden;
}
.home-page .company-section .company-content {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 60px 140px 0;
  height: 100%;
}
.home-page .company-section .company-content .head-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 387px;
}
.home-page .company-section .company-content .head-row h2 {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 100;
}
.home-page .company-section .company-content .head-row span {
  width: 50%;
  padding: 0 0 120px 0;
  margin-right: -20px;
  font-size: 38px;
  font-weight: 600;
  max-width: 720px;
  letter-spacing: -0.05em;
  line-height: 39px;
}
.home-page .company-section .company-content .years {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: flex-end;
}
.home-page .company-section .company-content .years div {
  width: 50%;
  margin-right: -20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(25, 27, 29, 0.1019607843);
  padding-bottom: 60px;
}
.home-page .company-section .company-content .years div p:nth-child(1) {
  font-size: 180px;
  color: #fff;
  font-weight: 600;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page .company-section .company-content .years div p:nth-child(2) {
  width: 100px;
  display: flex;
  text-align: end;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
}
.home-page .company-section .company-content .about-as {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 60px 0 180px 0;
}
.home-page .company-section .company-content .about-as div {
  margin-right: -20px;
  width: 50%;
}
.home-page .company-section .company-content .about-as div span {
  height: 30px;
  padding: 5px 20px;
  background-color: #bbbcbd;
  border-radius: 20px;
}
.home-page .company-section .company-content .btn-cart {
  width: 100%;
  height: 30px;
  display: flex;
  gap: 8px;
  padding-bottom: 40px;
}
.home-page .company-section .company-content .btn-cart button {
  border: none;
  width: 30px;
  height: 100%;
  background-color: #bbbcbd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home-page .company-section .company-content .btn-cart img {
  width: 65%;
}
.home-page .company-section .company-content .btn-cart button:nth-child(1) img {
  opacity: 0.4;
  transform: rotate(180deg);
}
.home-page .company-section .company-content .carts {
  width: 500%;
  display: flex;
  overflow: scroll;
  gap: 40px;
  padding-bottom: 240px;
}
.home-page .company-section .company-content .carts .cart {
  position: relative;
  width: 560px;
  height: 480px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page .company-section .company-content .carts .cart p {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 40px;
}
.home-page .company-section .company-content .carts .cart .btn-add {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 40px;
}
.home-page .company-section .company-content .carts .cart .btn-add div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #e8e8e8;
}
.home-page .company-section .company-content .carts .cart .btn-add img {
  height: 13px;
}
.home-page .insights-section {
  width: 100%;
  background-color: #fff;
  padding-top: 13px;
}
.home-page .insights-section .insights-content {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 30px 140px 240px;
}
.home-page .insights-section .insights-content .head-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 115px;
}
.home-page .insights-section .insights-content .head-row h1 {
  font-size: 89px;
  letter-spacing: -0.05em;
}
.home-page .insights-section .insights-content .head-row p {
  height: 30px;
  background-color: #e8e8e8;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  letter-spacing: -0.01em;
}

.insights-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.insights-list div {
  margin-bottom: 20px;
  width: 100%;
  height: 100vh;
  max-height: 578px;
  border: 1px solid #e8e8e8;
}
.insights-list .card-list {
  position: relative;
}
.insights-list .card-list img {
  width: 100%;
  height: 220px;
}
.insights-list .card-list p {
  font-size: 22px;
  padding: 50px 60px;
  line-height: 105%;
  letter-spacing: -0.03em;
}
.insights-list .card-list .duration {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 50px 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  letter-spacing: -0.03em;
}
.insights-list .card-list .duration span:nth-child(1) {
  color: rgba(25, 27, 29, 0.5019607843);
}
.insights-list .card-list .duration span:nth-child(2) {
  color: #191b1d;
}

.company-page {
  width: 100%;
}
.company-page .headline-section {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 140px;
  width: 100%;
  height: 640px;
}
.company-page .headline-section .content-headline {
  box-sizing: border-box;
  padding: 128px 0 80px;
  height: 100%;
  position: relative;
  border-bottom: 1px solid rgba(25, 27, 29, 0.1019607843);
}
.company-page .headline-section .content-headline h1 {
  font-weight: 100;
  font-family: "Graphik LCG Medium", Arial, sans-serif;
  letter-spacing: -0.075em;
  line-height: 80%;
  color: #191b1d;
}
.company-page .headline-section .content-headline button {
  border: none;
  position: absolute;
  left: 0;
  bottom: 80px;
  width: 20px;
  height: 20px;
  background-color: #191b1d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-page .headline-section .content-headline button img {
  width: 70%;
}
.company-page .status-number-section {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 140px;
  display: flex;
  justify-content: flex-end;
}
.company-page .status-number-section .content-status-number {
  padding: 120px 0 0 20px;
  box-sizing: border-box;
  width: 50%;
}
.company-page .status-number-section .content-status-number .special-number {
  width: 100%;
  padding: 0 0 5px 0;
  font-size: 180px;
  color: #fff;
  border-bottom: 1px solid rgba(25, 27, 29, 0.1019607843);
}
.company-page .status-number-section .content-status-number .special-number span {
  font-family: "Graphik LCG Medium";
  letter-spacing: -0.07em;
}
.company-page .status-number-section .content-status-number h3 {
  letter-spacing: -0.03em;
  font-size: 16px;
  padding: 42px 0;
}
.company-page .status-number-section .content-status-number .years-members {
  width: 100%;
  display: flex;
  padding: 80px 0;
  gap: 40px;
  margin-bottom: 20px;
}
.company-page .status-number-section .content-status-number .years-members div {
  width: 45%;
}
.company-page .status-number-section .content-status-number .years-members div h1 {
  border-bottom: 1px solid rgba(25, 27, 29, 0.1019607843);
  font-size: 90px;
  font-family: "Graphik LCG Medium";
  letter-spacing: -0.06em;
}

.work-page {
  background-color: #fff;
}
.work-page .work-cards-section {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 80px 140px 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 70px;
}
.work-page .work-cards-section .card-container {
  width: 100%;
}
.work-page .work-cards-section .card-container .card-image {
  width: 100%;
  position: relative;
}
.work-page .work-cards-section .card-container .card-image img {
  width: 100%;
}
.work-page .work-cards-section .card-container .card-image .plus {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 6%;
  height: 30px;
  width: 30px;
  background-color: #d1cfce;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-page .work-cards-section .card-container .card-image .plus img {
  width: 12px;
  height: 12px;
}
.work-page .work-cards-section .card-container h2 {
  padding-top: 1%;
  font-size: 16px;
  letter-spacing: -0.03em;
}
.work-page .work-cards-section .card-container h2 p {
  line-height: 140%;
}
.work-page .work-cards-section .card-container h2 p:nth-child(2) {
  color: rgba(25, 27, 29, 0.5019607843);
}

.blog-page {
  width: 100%;
  background-color: #fff;
}
.blog-page .list-cards {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 80px 140px 320px;
}
.blog-page .list-cards .special-card {
  width: 100%;
  display: flex;
  padding-bottom: 80px;
}
.blog-page .list-cards .special-card img {
  width: 920px;
  height: 578px;
}
.blog-page .list-cards .special-card span {
  max-width: 478px;
  box-sizing: border-box;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  border: 1px solid #e8e8e8;
}
.blog-page .list-cards .special-card span h1 {
  line-height: 100%;
  font-size: 38px;
  letter-spacing: -0.04em;
  font-family: "Graphik LCG Medium";
}
.blog-page .list-cards .special-card span p:nth-child(1) {
  color: rgba(25, 27, 29, 0.5019607843);
}
.blog-page .list-cards .special-card span p:nth-child(2) {
  color: #191b1d;
}
.blog-page .leave-email-section {
  width: 100%;
  background-color: #191b1d;
  height: 640px;
  letter-spacing: -0.03em;
}
.blog-page .leave-email-section .content {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  padding: 72px 140px 80px;
  justify-content: space-between;
  color: #fff;
}
.blog-page .leave-email-section .content h3 {
  font-size: 16px;
}
.blog-page .leave-email-section .content .leave-email {
  width: 49%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  padding: 0 0 0 0.5%;
}
.blog-page .leave-email-section .content .leave-email span {
  color: #fff;
}
.blog-page .leave-email-section .content .leave-email .input {
  position: relative;
  margin-bottom: 12%;
}
.blog-page .leave-email-section .content .leave-email .input input {
  background-color: #191b1d;
  border: none;
  border-bottom: 3px solid #363839;
  padding-bottom: 20px;
  height: 44px;
  outline: none;
  font-size: 2.8em;
  width: 100%;
  letter-spacing: -0.06em;
  color: #fff;
}
.blog-page .leave-email-section .content .leave-email .input span {
  letter-spacing: -0.05em;
  font-size: 38px;
  font-family: "Graphik LCG Medium";
  left: 0;
  bottom: 20px;
  padding-top: 10px;
  position: absolute;
  pointer-events: none;
  transition: 0.5s;
}
.blog-page .leave-email-section .content .leave-email .input span .optional {
  position: absolute;
  left: 105%;
  top: 0;
  color: rgba(25, 27, 29, 0.5019607843);
}
.blog-page .leave-email-section .content .leave-email .input input:valid ~ span,
.blog-page .leave-email-section .content .leave-email .input input:focus ~ span {
  color: rgba(25, 27, 29, 0.5019607843);
  opacity: 0;
}
.blog-page .leave-email-section .content .leave-email .input button {
  border: none;
  font-size: 16px;
  position: absolute;
  right: 0;
  bottom: 50%;
  color: #191b1d;
  background-color: #fff;
  height: 30px;
  display: flex;
  padding: 0 16px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.career-page {
  width: 100%;
}
.career-page .headline-section {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 140px;
  width: 100%;
  height: 640px;
}
.career-page .headline-section .content-headline {
  box-sizing: border-box;
  padding: 128px 0 80px;
  height: 100%;
  position: relative;
  border-bottom: 1px solid rgba(25, 27, 29, 0.1019607843);
}
.career-page .headline-section .content-headline h1 {
  font-weight: 100;
  font-family: "Graphik LCG Medium", Arial, sans-serif;
  letter-spacing: -0.075em;
  line-height: 80%;
  color: #191b1d;
}
.career-page .headline-section .content-headline button {
  border: none;
  position: absolute;
  left: 0;
  bottom: 80px;
  width: 20px;
  height: 20px;
  background-color: #191b1d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.career-page .headline-section .content-headline button img {
  width: 70%;
}
.career-page .discription-section {
  width: 100%;
}
.career-page .discription-section .content-discription {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 72px 140px 0;
}
.career-page .discription-section .content-discription div {
  display: flex;
  justify-content: space-between;
}
.career-page .discription-section .content-discription div h5 {
  font-size: 16px;
  letter-spacing: -0.03em;
}
.career-page .discription-section .content-discription div h5 p:nth-child(2) {
  color: #fff;
}
.career-page .discription-section .content-discription div span {
  box-sizing: border-box;
  font-size: 22px;
  padding: 0 20px;
  width: 50%;
  letter-spacing: -0.05em;
}
.career-page .vacancies-section {
  width: 100%;
  background-color: #fff;
  margin-top: 360px;
}
.career-page .vacancies-section .content-vacancies {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.career-page .vacancies-section .content-vacancies .work-vacancies {
  padding: 0 140px 320px;
  display: flex;
  justify-content: space-between;
}
.career-page .vacancies-section .content-vacancies .work-vacancies h5 {
  font-size: 16px;
  padding: 80px 0 12px;
}
.career-page .vacancies-section .content-vacancies .work-vacancies h5 p:nth-child(2) {
  color: rgba(25, 27, 29, 0.5019607843);
}
.career-page .vacancies-section .content-vacancies .work-vacancies span {
  padding-top: 63px;
  font-size: 38.2px;
  font-family: "Graphik LCG Medium";
  letter-spacing: -0.05em;
  width: 48.5%;
  display: flex;
  justify-content: space-between;
}
.career-page .vacancies-section .content-vacancies .work-vacancies span div {
  margin-top: 1%;
  background-color: #e8e8e8;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}
.career-page .vacancies-section .content-vacancies .work-vacancies span div img {
  width: 60%;
}

.discription-section {
  width: 100%;
}
.discription-section .content-discription {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 72px 140px 0;
}
.discription-section .content-discription div {
  display: flex;
  justify-content: space-between;
}
.discription-section .content-discription div h5 {
  font-size: 16px;
  letter-spacing: -0.03em;
}
.discription-section .content-discription div h5 p:nth-child(2) {
  color: #fff;
}
.discription-section .content-discription div span {
  margin-top: -5px;
  box-sizing: border-box;
  font-size: 22px;
  padding: 0 20px;
  width: 50%;
  letter-spacing: -0.05em;
}

.contact-page {
  width: 100%;
}
.contact-page .headline-section {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 140px;
  width: 100%;
  height: 640px;
}
.contact-page .headline-section .content-headline {
  box-sizing: border-box;
  padding: 128px 0 80px;
  height: 100%;
  position: relative;
  border-bottom: 1px solid rgba(25, 27, 29, 0.1019607843);
}
.contact-page .headline-section .content-headline h1 {
  font-weight: 100;
  font-family: "Graphik LCG Medium", Arial, sans-serif;
  letter-spacing: -0.075em;
  line-height: 80%;
  color: #191b1d;
}
.contact-page .headline-section .content-headline button {
  border: none;
  position: absolute;
  left: 0;
  bottom: 80px;
  width: 20px;
  height: 20px;
  background-color: #191b1d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-page .headline-section .content-headline button img {
  width: 70%;
}
.contact-page .location-phone {
  padding: 80px 140px 240px;
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.contact-page .location-phone div {
  font-size: 21px;
  width: 50%;
  margin-right: -20px;
}
.contact-page .location-phone div h5 {
  font-size: 16px;
  color: rgba(25, 27, 29, 0.5019607843);
  margin-bottom: 28px;
}
.contact-page .location-phone div span {
  color: #191b1d;
  line-height: 50%;
}
.contact-page .location-phone div p {
  color: rgba(25, 27, 29, 0.5019607843);
  text-align: start;
  width: 150px;
  padding-bottom: 72px;
}
.contact-page .write-email-section {
  width: 100%;
  background-color: #fff;
}
.contact-page .write-email-section .contents {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.contact-page .write-email-section .contents .write-email {
  padding: 80px 140px 268px;
  display: flex;
  justify-content: space-between;
}
.contact-page .write-email-section .contents .write-email h3 {
  font-size: 16px;
}
.contact-page .write-email-section .contents .write-email .writing-table {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 50%;
  box-sizing: border-box;
  padding: 0 0 56px 18px;
}
.contact-page .write-email-section .contents .write-email .writing-table .input {
  position: relative;
}
.contact-page .write-email-section .contents .write-email .writing-table .input input {
  border: none;
  border-bottom: 1px solid #dadbdb;
  height: 44px;
  outline: none;
  font-size: 1.5em;
  width: 100%;
}
.contact-page .write-email-section .contents .write-email .writing-table .input span {
  letter-spacing: -0.05em;
  font-size: 22px;
  left: 0;
  bottom: 20px;
  padding-top: 10px;
  position: absolute;
  pointer-events: none;
  transition: 0.5s;
}
.contact-page .write-email-section .contents .write-email .writing-table .input span .optional {
  position: absolute;
  left: 105%;
  top: 0;
  color: rgba(25, 27, 29, 0.5019607843);
}
.contact-page .write-email-section .contents .write-email .writing-table .input input:valid ~ span,
.contact-page .write-email-section .contents .write-email .writing-table .input input:focus ~ span {
  color: rgba(25, 27, 29, 0.5019607843);
  font-size: 14px;
  transform: translateY(-100%);
}
.contact-page .write-email-section .contents .write-email .writing-table .text-small {
  font-size: 13px;
}
.contact-page .write-email-section .contents .write-email .writing-table .text-small span {
  color: rgba(25, 27, 29, 0.5019607843);
}
.contact-page .write-email-section .contents .write-email .writing-table .btn-submit {
  margin-top: -40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.contact-page .write-email-section .contents .write-email .writing-table .btn-submit button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  background-color: #191b1d;
  color: #fff;
  font-size: 16px;
  text-align: start;
  box-sizing: border-box;
  padding-left: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Graphik LCG Regular", Arial, sans-serif;
  font-weight: 100;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #cdcecf;
}

.navigation {
  position: fixed;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid rgba(25, 27, 29, 0.1019607843);
  padding: 14.5px 0;
}
.navigation .header-content {
  box-sizing: border-box;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 30px;
  padding: 0 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: header-animation-row 1s ease;
}
.navigation .header-content div {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 567px) {
  .navigation .header-content {
    padding: 10px 30px;
    font-size: 16px;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .navigation .header-content {
    width: 100%;
    box-sizing: border-box;
    font-size: 10px;
    padding: 8.5px 30px;
  }
}
.navigation .header-content .logo {
  width: 180px;
  font-weight: 600;
}
.navigation .header-content .logo a {
  text-decoration: none;
  color: #191b1d;
}
@media (max-width: 567px) {
  .navigation .header-content .logo {
    padding: 0;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .navigation .header-content .logo {
    padding-left: 18px;
  }
}
.navigation .header-content .link-btn {
  width: 17%;
  font-weight: 100;
  display: flex;
  align-items: center;
}
@media (max-width: 567px) {
  .navigation .header-content .link-btn {
    display: none;
  }
}
@media (min-width: 568px) and (max-width: 830px) {
  .navigation .header-content .link-btn {
    margin-left: -12%;
  }
}
.navigation .header-content .link-btn .hover-icon {
  box-sizing: border-box;
  margin-left: 8px;
  border-radius: 50%;
  background-color: #bbbcbd;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation .header-content .link-btn .hover-icon img {
  width: 70%;
  height: 70%;
  transform: rotate(90deg);
}
.navigation .header-content .link-btn .hover-icon :hover {
  transition: 0.5s;
  transform: rotate(0deg);
}
.navigation .header-content .link-btn .hover-above-text {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.navigation .header-content .link-btn ::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate3d(0, 150%, 0);
  transition: transform 0.25s cubic-bezier(0.76, 0, 0.24, 1);
}
.navigation .header-content .link-btn :hover::after {
  transform: translate3d(0, 0, 0);
}
.navigation .header-content .link-btn .hover-above-text span {
  display: inline-block;
  transition: transform 0.25s cubic-bezier(0.76, 0, 0.24, 1);
}
.navigation .header-content .link-btn :hover span {
  transform: translate3d(0, -150%, 0);
}
.navigation .header-content :hover {
  cursor: pointer;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.25, 0.74, 0.22, 0.99);
  animation: hover-above-text 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.navigation .header-content .list {
  width: 44.5%;
  display: flex;
}
@media (max-width: 400px) {
  .navigation .header-content .list {
    display: none;
  }
}
@media (max-width: 567px) {
  .navigation .header-content .list {
    display: none;
  }
}
@media (max-width: 830px) {
  .navigation .header-content .list {
    margin: 0 10px;
    width: 50%;
  }
}
.navigation .header-content .list ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 5%;
}
@media (max-width: 830px) {
  .navigation .header-content .list ul li {
    margin: 0 9.5px;
  }
}
.navigation .header-content .list ul li a {
  text-decoration: none;
  color: black;
  overflow: hidden;
  position: relative;
  display: inline-flex;
}
.navigation .header-content .list ul li ::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  transform: translate3d(0, 150%, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.navigation .header-content .list ul li :hover::after {
  transform: translate3d(0, 0, 0);
}
.navigation .header-content .list ul li a span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  letter-spacing: -0.01em;
}
.navigation .header-content .list ul li a:hover span {
  transform: translate3d(0, -150%, 0);
}
.navigation .header-content .menu {
  display: none;
  align-items: center;
}
@media (max-width: 567px) {
  .navigation .header-content .menu {
    display: flex;
  }
}
@keyframes header-animation-row {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.footer {
  border-top: 1px solid rgba(25, 27, 29, 0.1019607843);
  margin-top: -1px;
  width: 100%;
  height: 310px;
  background-color: #fff;
  padding: 24px 0 25px;
}
.footer .container-footer {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1680px;
  padding: 0 140px;
  box-sizing: border-box;
}
.footer .container-footer .footer-items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .container-footer .footer-items .top-row {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.footer .container-footer .footer-items .top-row .logo {
  width: 180px;
  font-weight: 600;
}
.footer .container-footer .footer-items .top-row .logo a {
  text-decoration: none;
  color: #191b1d;
}
.footer .container-footer .footer-items .top-row .links {
  width: 240px;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.03em;
}
.footer .container-footer .footer-items .top-row .links a {
  text-decoration: none;
  color: #000;
  margin: 0.5px 0;
}
.footer .container-footer .footer-items .top-row .btn-content {
  display: flex;
  width: 44.5%;
  justify-content: flex-end;
  letter-spacing: -0.03em;
}
.footer .container-footer .footer-items .top-row .btn-content span {
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  height: 30px;
  padding: 0 16px;
}
.footer .container-footer .footer-items .top-row .btn-content span:nth-child(2) {
  color: #fff;
  background-color: #000;
  margin-left: 5px;
}
.footer .container-footer .footer-items .top-row div {
  width: auto;
}
.footer .container-footer .footer-items .bottom-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  color: rgba(25, 27, 29, 0.5019607843);
  font-size: 14px;
}

/*# sourceMappingURL=main-style.css.map */
