@import "./component/responsive-breakpoints/breakpoints.scss";

$main: #cdcecf;
$light: #fff;
$circleBoth:  #97989a;
$circleOne: #fff;
$iconBackColor: #bbbcbd;
$bc: #191b1d1a;
$bsSmi: #191b1d80;
$lm: #e8e8e8;
$oc: #191b1d;
$ourB: #ffffff26;
$iconBack: #3b3d3f;
$bigCircle: #45494a;

* { 
    margin: 0;
    padding: 0;
    font-family: "Graphik LCG Regular",Arial,sans-serif;
    font-weight: 100;
}

body {
    background-color: $main;
}
@font-face {font-family: "Graphik LCG Regular"; src: url("//db.onlinewebfonts.com/t/ca3d10781128664daddf89bf2e2d1305.eot"); src: url("//db.onlinewebfonts.com/t/ca3d10781128664daddf89bf2e2d1305.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ca3d10781128664daddf89bf2e2d1305.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ca3d10781128664daddf89bf2e2d1305.woff") format("woff"), url("//db.onlinewebfonts.com/t/ca3d10781128664daddf89bf2e2d1305.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ca3d10781128664daddf89bf2e2d1305.svg#Graphik LCG Regular") format("svg"); }
@font-face {font-family: "Graphik LCG Medium"; src: url("//db.onlinewebfonts.com/t/7aca009229e7731f7f0c3c2ea048bde8.eot"); src: url("//db.onlinewebfonts.com/t/7aca009229e7731f7f0c3c2ea048bde8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7aca009229e7731f7f0c3c2ea048bde8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7aca009229e7731f7f0c3c2ea048bde8.woff") format("woff"), url("//db.onlinewebfonts.com/t/7aca009229e7731f7f0c3c2ea048bde8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7aca009229e7731f7f0c3c2ea048bde8.svg#Graphik LCG Medium") format("svg"); }

@mixin logo {
    width: 180px;
    font-weight: 500;
}
@mixin maxWidth {
    box-sizing: border-box;
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.navigation{
    position: fixed ;
    z-index: 10;
    width: 100%;    
    background-color: $main;
    border-bottom: 1px solid $bc;
    padding: 14.5px 0;
    .header-content { 
        @include maxWidth;
        height: 30px;
        padding: 0 140px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
        }
        // animation: header-animation-row 1s ease ;
        @include media ('<=phone&tablet') {
            padding:10px 30px;
            font-size: 16px;
        }
        @include media ( '>phone&tablet' , '<=tablet'){
            width: 100%;
            box-sizing: border-box;
            font-size: 10px;
            padding: 8.5px 30px;
        }
        .logo { 
            @include logo;
            @include media ('<=phone&tablet') {
                padding: 0;
            }
            @include media ( '>phone&tablet' , '<=tablet') {
                padding-left: 18px;
            }
        }
        .link-btn { 
            font-weight: 100;
            display: flex;
            align-items: center;
            @include media ('<=phone&tablet') {
                display: none;
            }
            @include media ( '>phone&tablet' , '<=tablet') {
                margin-left: -12%;
            }
            .hover-icon{
                box-sizing: border-box;
                margin-left: 8px;
                border-radius: 50%;
                background-color: $iconBackColor;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 70%;
                    height : 70%;
                    transform: rotate(90deg);
                }
                :hover{
                    transition: 0.5s;
                    transform: rotate(0deg);
                }
            }
            .hover-above-text{
                overflow: hidden;
                position: relative;
                display: inline-block;
            }::after{
                content: attr(data-text);
                position: absolute;
                width: 100%;
                top:0;
                left: 0;
                transform: translate3d( 0 , 150% ,0 );
                transition: transform .25s cubic-bezier(0.76, 0, 0.24, 1);
            }
            :hover::after{
                transform: translate3d( 0 , 0 ,0);
            }
            .hover-above-text span {
                display: inline-block;
                transition: transform .25s cubic-bezier(0.76, 0, 0.24, 1);
            }
            :hover span {
                transform: translate3d(0, -150%, 0);
            }

        }
        :hover{
            cursor: pointer;
            transition-property: transform;
            transition-timing-function: cubic-bezier(.25,.74,.22,.99);
            animation: hover-above-text 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
        .list{
            display: flex;
            padding-left: 38%;
            @include media ('<=phone') {
                display: none;
            }
            @include media ('<=phone&tablet') {
                display: none;
            }
            @include media ('<=tablet') {
                margin: 0 10px;
                width: 50%;
            }
            ul {
                width: auto;
                display: flex;
                justify-content: flex-end;
                list-style: none;
                gap: 14%;
                li{ 
                    @include media ('<=tablet') {
                        margin:  0 9.5px;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        overflow: hidden ; 
                        position: relative;
                        display: inline-flex;
                    }::after{
                        content: attr(data-text);
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: .5;
                        transform: translate3d( 0 , 150%, 0);
                        transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                    }
                    :hover::after{
                        transform: translate3d(0, 0, 0);
                    }
                    a span {
                        display : inline-block;
                        transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                        letter-spacing: -0.01em;
                    }
                    a:hover span { 
                        transform: translate3d(0, -150%, 0);
                    }
                }
            }
        }
        .menu {
            display: none;
            align-items: center;
            @include media ('<=phone&tablet') {
                display: flex;
            }
        }
    }   
    @keyframes header-animation-row {
        0%{ 
            transform: translate3d(0, -100%, 0);
        }
        100%{ 
            transform: translate3d(0, 0, 0);
        }
    }
}
.home-page{
    .top-pointer-events-section{
        position: relative;
        width: 100%;
        height: 100vh;
        @include maxWidth;
        // .background{
        //     height: 100%;
        //     width: 100%;
        //     transition: all .2s  ;
        //     background-color: $main;
        // }
        .intro{
            position: absolute;
            background-color: $main;
            box-sizing: border-box;
            width: 100%;
            top: 0;
            display: flex;
            padding: 105px 140px 60px;
            height: 73.5vh;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            z-index: 5;
            transition: all .19s;
            @include media ('<=phone&tablet'){
                padding: 84px 30px 40px;
            }
            @include media ('>phone&tablet' , '<=tablet'){
                padding: 6.5% 6% 30px;
            }
            .headline-word{
                font-size: 60px;
                font-weight: 100;
                letter-spacing: -0.09em;
                line-height: 100px;
                margin: -2% 0 0 0 ;
                @include media ('<=phone&tablet'){
                    font-size: 25px;
                    margin-top: -2%;
                }
                @include media ('>phone&tablet' , '<=tablet'){
                    font-size: 38px;
                    margin-top: -2%;
                }
                div{
                    overflow: hidden;
                }
                div:nth-child(2){
                    color: white;
                    margin-top: -1% ;
                }
                h1{
                    transition: all .7s ease-in-out;
                    @include media ('<=phone&tablet'){
                        line-height: 110%;
                    }
                    @include media ('>phone&tablet' , '<=tablet'){
                        line-height: 110%;
                    }
                }
            }
            .bottom-row{
                display: flex;
                justify-content: space-between;
                height: 126px;
                width: 100%;
                position: relative;
                .cricles{
                    position: relative;
                    div {
                        position: absolute;
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        border: 1px solid $circleBoth;
                        @include media ('<=phone&tablet'){
                            width: 59px;
                            height: 59px;
                            bottom: 0;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){
                            width: 72px;
                            height: 72px;
                            left: 0;
                            bottom: 1%;
                        }
                    }
                    div:nth-child(1){
                        left: 2px;
                        @include media ('<=phone&tablet'){
                            left: 0;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){  
                            left: 0;
                        }
                    }
                    div:nth-child(2){
                        left: 42px;
                        z-index: 1;
                        border: 1px solid $circleOne;
                        @include media ('<=phone&tablet'){
                            left: 20px;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){
                            left: 25px;
                        }
                    }
                    div:nth-child(3){
                        left: 80px;
                        @include media ('<=phone&tablet'){
                            left: 40px;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){  
                            left: 47px;
                        }
                    }
                }
                .leading-text{
                    width: 400px;
                    box-sizing: border-box;
                    font-size: 22px;
                    display: flex;
                    align-items: flex-end;  
                    margin: 0 -20px -5px 0;
                    transition: all 1s ease;
                    @include media ('<=phone&tablet'){
                        font-size: 19px;
                        padding: 0 20px 101px 0;
                        line-height: 50%;
                        color: #3e4042;
                    }
                    @include media ('>phone&tablet' , '<=tablet'){
                        font-size: 14px;
                        width: 35%;
                        margin: 0 -1%;
                    }
                    span {
                        padding : 20px 0 0 20px;
                        @include media ('<=phone&tablet'){
                            padding:  0;
                        }
                    }
                }
                .leading-text-animation-support {
                    width: 400px;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition: all 3s ease;
                    @include media ('<=phone&tablet'){
                        display: none;
                    }
                    @include media ('>phone&tablet' , '<=tablet'){
                        font-size: 14px;
                        width: 35%;
                        margin: 0 -1%;
                    }
                }
            }
        }
    }
    .video-section{
        width: 100%;
        height: 100vh;
        position: relative;
        transition: all .5s ease;
        transition-delay: .5s;
        overflow: hidden;
        transform: translateY(-50%);
        z-index: -1;

        cursor: url("./images//icon-upward.svg");
        .video-position { 
            width: 100%;
            height: 100%;
            @include media ('<=phone&tablet'){
                transform: translateX(-35%);
                width: 500%;
            }
            @include media ('>phone&tablet' , '<=tablet'){
                transform: translateX(-39%);
                width: 500%;
            }
        }
    }
    .expertise-section{
        width: 100%;
        border-top: 1px solid $bc;
        background-color: $light;
        transform: translateY(-50%);
        .container-expertise{
            @include maxWidth;
            height: 100%;
            padding: 0 140px 120px;
            display: flex;
            flex-direction: column;
            @include media ('<=phone&tablet'){
                padding: 0 30px 80px;
            }
            @include media ('>phone&tablet' , '<=tablet'){
                padding: 0 5.9% 5.5%;
            }
            .top-row{
                width: 100%;
                padding: 60px 0 30px 0;
                display: flex;
                justify-content: space-between;
                @include media ('<=phone&tablet'){
                    display: block;
                    padding: 50px 0 80px;
                }
                @include media ('>phone&tablet' , '<=tablet'){
                    padding: 4% 0 2.2% 0;
                }
                .learn-more{
                    .items{
                        display: flex;
                        div {
                            font-size: 14px;
                            display: flex;
                            align-items: center;
                            justify-content: center ;
                            color: $light;     
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;                       
                            background-color: #000;
                            margin-right: 21px;
                            @include media ('<=phone&tablet'){
                                margin: 0 0 25px 0;
                            }
                            @include media ('>phone&tablet' , '<=tablet'){
                                width: 18px;
                                height: 18px;
                                font-size: 10px;
                                margin-right: 15px;
                            }
                        }
                        span {
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 16px;
                            padding: 0  16px;
                            background-color: $lm;
                            border-radius: 20px;
                            @include media ('<=phone&tablet'){
                                display: none;
                            }
                            @include media ('>phone&tablet' , '<=tablet'){
                                height: 18px;
                                font-size: 10px;
                            }
                        }

                    }
                }
                .headline{
                    width: 560px;
                    height: 100%;
                    @include media ('<=phone&tablet'){
                        width: auto;
                    }
                    @include media ('>phone&tablet' , '<=tablet'){
                        width: 46.3%;
                        margin-right: 1%;
                    }
                    h2{ 
                        letter-spacing: -0.05em;    
                        font-size: 38px;
                        padding-bottom: 35px;
                        @include media ('<=phone&tablet'){  
                            font-size: 24px;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){
                            font-size: 24px;
                            padding-bottom: 6%;
                        }
                    }
                    p{
                        letter-spacing: -0.01em;
                        font-size: 22px;
                        margin-right: 10%;
                        @include media ('<=phone&tablet'){
                            margin-right: 0;
                            font-size: 19px;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){
                            font-size: 14px;
                        }
                    }
                }
            }
            .bottom-works{
                width: 100%;
                height: 100%;
                display: flex;
                gap: 40px;
                align-items: center;
                font-size: 16px;
                @include media ('<=phone&tablet'){
                    display: block;
                    font-size: 15.8px;
                }
                @include media ('>phone&tablet' , '<=tablet'){
                    font-size: 13px;
                }
                .art{
                    @include media ('<=phone&tablet'){
                        margin-bottom: 34px;
                    }
                    div {
                        width: 100%;
                    }
                }
                .space{
                    padding:10px 0 0.5%;
                }
                .type-art {
                    color: $bsSmi;
                }
            }
        }
    }
    .our-apabilities-section{
        transform: translateY(-50%);
        width: 100%;
        background-color: $oc;
        .apabilities{
            @include maxWidth;
            height: 100%;
            padding: 138px 140px 240px;
            @include media ('<=phone&tablet'){
                padding: 170px 30px 140px;
            }
            @include media ('>phone&tablet' , '<=tablet'){
                padding: 13% 5.9% 18.5%;
            }
            .content{
                position: relative;
                height: 100%;
                display: flex;
                justify-content: space-between;
                .headline{
                    h5{
                        color: $light;
                        width: 60px;
                        font-size: 16px;
                        font-weight: 100;
                        padding-top: 36px;
                        @include media ('<=phone&tablet'){
                            width: auto;
                            position: absolute;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){
                            font-size: 12px;
                        }
                    }
                }
                .accordion{
                    display: flex;
                    flex-direction: column;
                    @include media ('<=phone&tablet'){
                        width: 100%;
                        padding-top: 25%;
                        padding-bottom: 20%;
                    }
                    @include media ('>phone&tablet' , '<=tablet'){
                        width: 49%;
                        padding-bottom: 17%;
                    }
                    div:nth-child(1){
                        border: none;
                        @include media ('<=phone&tablet'){
                            border-top: 1px solid $ourB;
                        }
                    }
                    div {
                        width: 100%;
                        height: 99px;
                        color: $light;
                        display: flex;
                        border-top: 1px solid $ourB;
                        align-items: center;
                        justify-content: space-between;
                        @include media ('<=phone&tablet'){
                            height: 80px;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){
                            height: 48px;
                        }
                        h3{ 
                            font-size: 34px;
                            font-weight: 600;
                            letter-spacing: -0.07em;
                            @include media ('<=phone&tablet'){
                                font-size: 24px;
                                letter-spacing: -0.01em;
                                font-weight: 300;
                            }
                            @include media ('>phone&tablet' , '<=tablet'){
                                font-size: 24px;
                                font-weight: 300;
                                letter-spacing: -0.01em;
                            }
                        }
                        span {  
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            background-color: $iconBack;
                            @include media ('<=phone&tablet'){
                                width: 20px;
                                height: 20px;
                                img{
                                    width: 14px;
                                    height: 14px;
                                }
                            }
                            @include media ('>phone&tablet' , '<=tablet'){
                                width: 18px;
                                height: 18px;
                                img{
                                    width: 14px;
                                    height: 14px;
                                }
                            }
                        }
                    }
                }
                .big-cricles{
                    position: absolute;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    div { 
                        margin: auto;
                        top: 0;
                        bottom: 5%;
                        position: absolute;
                        width: 256px;
                        height: 256px;
                        border-radius: 50%;
                        border: 1px solid $bigCircle;
                        @include media ('<=phone&tablet'){
                            display: none;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){
                            width: 160px;
                            height: 160px;
                            top: 20%;
                        }
                    }
                    div:nth-child(2){
                        left: 40px;
                        @include media ('<=phone&tablet'){
                            // padding: 0 30px 80px;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){
                            left: 25px;
                        }
                    }
                    div:nth-child(3){
                        left: 80px;
                        @include media ('<=phone&tablet'){
                            // padding: 0 30px 80px;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){
                            left: 50px;
                        }
                    }
                    div:nth-child(4){
                        left: 120px;
                        @include media ('<=phone&tablet'){
                            // padding: 0 30px 80px;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){
                            left: 75px;
                        }
                    }
                    div:nth-child(5){
                        left: 160px;
                        @include media ('<=phone&tablet'){
                            // padding: 0 30px 80px;
                        }
                        @include media ('>phone&tablet' , '<=tablet'){
                            left: 100px;
                        }
                    }
                }
            }
        }
    }
    .company-section{
        width: 100%;  
        overflow: hidden; 
        .company-content {
            @include maxWidth;
            padding: 60px 140px 0;
            height: 100%;
            .head-row{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 387px;
                h2{
                    margin-top: 6px;
                    font-size: 16px;
                    font-weight: 100;
                }
                span{
                    width: 50%;
                    padding:  0  0 120px 0;
                    margin-right: -20px;
                    font-size: 38px;
                    font-weight: 600;
                    max-width: 720px;
                    letter-spacing: -0.05em;
                    line-height: 39px;
                }
            }
            .years{
                width: 100%;
                height: 190px;
                display: flex;
                justify-content: flex-end;
                div {
                    width: 50%;
                    margin-right: -20px;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid $bc;
                    padding-bottom:60px ;
                    p:nth-child(1) {
                        font-size: 180px;
                        color: $light;
                        font-weight: 600;
                        letter-spacing: -0.05em;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    p:nth-child(2) {
                        width: 100px;
                        display: flex;
                        text-align: end;
                        justify-content:flex-end;
                        align-items: flex-end;
                        padding-right: 20px;
                    }
                }
            }
            .about-as{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding: 60px 0 180px 0;
                div {
                    margin-right: -20px;
                    width: 50%;
                    span {
                        height: 30px;
                        padding: 5px 20px;
                        background-color: $iconBackColor;
                        border-radius: 20px;
                    }
                }
            }
            .btn-cart{
                width: 100%;
                height: 30px;
                display: flex;
                gap: 8px;
                padding-bottom: 40px;
                button{
                    border: none;
                    width: 30px;
                    height: 100%;
                    background-color: $iconBackColor;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
                img{
                    width: 65%;
                }
                button:nth-child(1 ){
                    img{
                        opacity: .4;
                        transform: rotate(180deg);
                    }
                }
            }
            .carts{
                width: 500%;
                display: flex;
                overflow: scroll;
                gap: 40px;
                padding-bottom: 240px;
                .cart{
                    position: relative;
                    width: 560px;
                    height: 480px;
                    background-color: $light;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: 40px;
                    }
                    .btn-add {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        padding: 40px;
                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px ;
                            background-color: $lm;
                        }
                        img{
                            height: 13px;
                        }
                    }
                }
            }
        }
    }
    .insights-section{
        width: 100%;
        background-color: $light;
        padding-top: 13px;
        .insights-content {
            @include maxWidth;
            padding: 30px 140px 240px;
            .head-row{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h1{
                    font-size: 89px;
                    letter-spacing: -0.05em;
                }
                p{  
                    height: 30px;
                    background-color: $lm;
                    padding: 0 20px ;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;
                    letter-spacing: -0.01em;
                }
            }
            .insights-list {
                padding-top: 115px;
                display: flex;
                gap: 40px;
                div{
                    width: 100%;
                    height: 478px;
                    border: 1px solid $lm;
                }
                .list {
                    position: relative;
                    img {
                        width: 100%;
                        height: 180px;
                    }
                    p{
                        font-size: 22px;
                        padding:40px ;
                    }
                    .duration{
                        display: flex;
                        flex-direction: column;
                        font-size: 14px;
                        padding: 40px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        span:nth-child(1) {
                            color: $bsSmi;
                        }
                        span:nth-child(2) {
                            color: $oc;
                        }
                    }

                }
            }
        }
    }
}
@mixin headline {
    .headline-section {
        @include maxWidth;
        padding: 0 140px;
        width: 100%;
        height: 640px;
        .content-headline {
            box-sizing: border-box;
            padding: 128px 0 80px;
            height: 100%;
            position: relative;
            border-bottom: 1px solid $bc;
            h1 {
                font-weight:100;
                font-family: "Graphik LCG Medium",Arial,sans-serif;
                letter-spacing: -0.075em;
                line-height: 80%;
                color: $oc;
            }
            button {
                border: none;
                position: absolute;
                left: 0;
                bottom: 80px;
                width: 20px;
                height: 20px;
                background-color: $oc;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 70%;
                }
            }
        }
      }
}
@mixin JumpHome {
    .btn-home-page-jump {
        padding: 0 140px 80px;
        color: $bsSmi;
        font-size: 14px;
        button {
            color: $bsSmi;
            background-color: $light;
            border: none;
        }
    }
}
.career-page {
  width: 100%;
  @include headline;
  .discription-section {
    width: 100%;
    .content-discription {
        @include maxWidth;
        padding : 72px 140px 360px;
        div{
            display: flex;
            justify-content: space-between;
            h5 { 
                font-size: 16px;
                letter-spacing: -.03em;
                p:nth-child(2) {
                    color: $light;
                }
            }
            span {
                box-sizing: border-box;
                font-size: 22px;
                padding: 0 20px;
                width: 50%;
                letter-spacing: -.05em;
            }
        }
    }
  }
  .vacancies-section {
    width: 100%;
    background-color: $light;
    .content-vacancies {
        @include maxWidth;
        .work-vacancies {
            padding: 0 140px 320px;
            display: flex;
            justify-content: space-between;
            h5 { 
                font-size: 16px;
                padding: 80px 0 12px ;
                p:nth-child(2) {
                    color: $bsSmi;
                }
            }
            span {
                padding-top: 63px;
                font-size: 38.2px;
                font-family: "Graphik LCG Medium";
                letter-spacing: -.05em;
                width: 48.5%;
                display: flex;
                justify-content: space-between;
                div {
                    margin-top: 1%;
                    background-color: $lm;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: rotate(90deg);
                    img {
                        width: 60%;
                    }
                }
            }
        }
        @include JumpHome;
    }
  }
}
.contact-page{
    width: 100%;
    @include headline;
    .location-phone{
        padding: 80px 140px 240px;
        @include maxWidth;
        display: flex;
        justify-content:flex-end;
        div {
            font-size: 21px;
            width: 50%;
            margin-right: -20px;
            h5{
                font-size: 16px;
                color: $bsSmi;
                margin-bottom: 28px;
            }
            span{
                color: $oc;
                line-height: 50%;
            }
            p{
                color: $bsSmi;
                text-align: start;
                width: 150px;
                padding-bottom: 72px;
            }
        }
    }
    .write-email-section{
        width: 100%;
        background-color: $light;
        .contents {
            @include maxWidth;
            .write-email{
                padding: 80px 140px 268px ;
                display: flex;
                justify-content: space-between;
                h3{
                    font-size: 16px;
                }
                .writing-table {
                    display: flex;
                    flex-direction: column;
                    gap: 60px;
                    width: 50%;
                    box-sizing: border-box;
                    padding: 0 0 56px 18px;
                    .input {
                        position: relative;
                        input{
                            border: none;
                            border-bottom: 1px solid #dadbdb;
                            height: 44px;
                            outline: none;
                            font-size: 1.5em;
                            width: 100%;
                        }
                        span {
                            letter-spacing: -0.05em;
                            font-size: 22px;
                            left: 0;
                            bottom: 20px;
                            padding-top: 10px;
                            position: absolute;
                            pointer-events: none;
                            transition: .5s;
                            .optional{
                                position: absolute;
                                left: 105%;
                                top: 0;
                                color: $bsSmi;
                            }
                        }   
                        input:valid ~ span,
                        input:focus ~ span {
                            color: $bsSmi;
                            font-size: 14px;
                            transform: translateY(-100%);
                        }
                    }
                    .text-small {
                        font-size: 13px;
                        span {
                            color: $bsSmi;
                        }
                    }
                    .btn-submit {
                        margin-top: -40px;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        button {
                            width: 120px;
                            height: 120px;
                            border-radius: 50%;
                            border: none;
                            background-color: $oc;
                            color: $light;
                            font-size: 16px;
                            text-align: start;
                            box-sizing: border-box;
                            padding-left: 20px;
                        }
                    }
                }
            }
            @include JumpHome;
        }
    }
}
.footer{
    border-top: 1px solid $bc;
    margin-top: -1px;
    width: 100%;
    height: 310px;
    background-color: $light;
    padding: 24px 0 25px;
    .container-footer{
        margin-left: auto;
        margin-right: auto;
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 1680px;
        padding: 0 140px;
        box-sizing: border-box;
        .footer-items{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .top-row{
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: space-between;
                .logo{
                    @include logo
                }
                .links{
                    width: 240px;
                    display: flex;
                    flex-direction: column;
                    a{
                        text-decoration: none;
                        color: #000;
                    }
                }
                .btn-content{
                    display: flex;
                    width: 500px;
                    justify-content: flex-end;
                    span{
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        background-color: $main;
                        height: 30px;
                        padding:  0 16px;
                    }
                    span:nth-child(2) {
                        color: $light;
                        background-color: #000 ;
                        margin-left: 5px;
                    }
                }
                div{
                    width: auto;
                }
            }
            .bottom-row{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                color: $bsSmi;
                font-size: 14px;
            }
        }
    }
}